/* CSS declarations go here */


.title-cover {
    width: 100%;
    height: 66%;
    position: absolute;
    background-image: url("image/PeopleTitleCover.jpg");
    background-size: 100% 100%;
    margin: 0;
    padding: 0;
}

.title-text {
    color: white;
    text-align: center;
    font-size: 80px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top:0;
    margin: auto;
    height: 120px;
}

.people-list {
    position: absolute;
    top: 70%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.people-container {
    display: inline-block;
    margin: 20px;
    border-color: black;
    
    width: 400px;
    border-style: outset;
    border-width: 1px;
    border-radius: 4%;
    box-shadow: 4px 4px 2px #888888;
}

.people-icon {
    height: 300px;
    width: 300px;
    border-radius: 50%;
    margin: 50px 50px 0 50px;
}

.people-name {
    text-align: center;
    font-size: 40px;
    margin: 0;
}

.people-gender {
    text-align: center;
    font-size: 20px;
    margin: 0;
}

.people-age {
    text-align: center;
    font-size: 20px;
    margin: 0;
    margin-bottom: 50px;
}

.app-container {
  width: 100%;
  height: 100%;
}

.app-cover {
  width: 100%;
  height: 600px;
  background-color: rgb(132, 188, 93);
  z-index: 1;
}

.iPhone-frame {
  position: absolute;
  right: -110px;
  top: -50px;
  z-index: 2;
  transform: scale(0.85);
}

.app-capture {
  transform: scale(0.61);
  position: absolute;
  right: 63px;
  top: -28px;
  z-index: 3;
}

.app-info {
  background-color: white;
  z-index: 3;
}

.app-title-text {
  position: absolute;
  font-size: 5em;
  left: 160px;
  top: 80px;
}

.app-code {
    height: 200px;
    width: 200px; 
    position: absolute;
    top: 260px;
    left: 200px;
}

.go-back {
  background-color: black;
  color: white;
  position: relative;
  top: -622px;
  left: -300px;
  width: 140px;
  height: 45px;
  border: 0;
}

.info-capture {
  transform: scale(0.7); 
  position: relative;
}

.info-capture-1 {
  left: 60%;
}

.info-message {
  color: black;
  position: relative;
  width: 400px;
  left: 120px;
  top: 200px;
}

.info-capture-2 {
  float: left;
  left: 50px;
}

body {
  font-family: sans-serif;
  background-attachment: fixed;
  color:#FFFAFA;

  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  padding: 0;
  margin: 0;

  font-size: 14px;
}

.video-backgroud {
    position: fixed;  
    left: 0px;  
    bottom: 0px;
    top:0px;
    right:0px;
    padding: 0;
    margin: 0;
    min-width: 100%;
    min-height:100%;
    width: auto;
    height: auto;  
    z-index:-999;
}

header {
  padding: 20px 15px 15px 15px;
  position: fixed;
  z-index:21;
}

header a {
  text-decoration:none;
  color:#FFFAFA;
}

.header div {
  display:inline-block;
}

.header button {
  transition:color 0.4s;
  position:fixed;
  right:0;
  margin:0 10px 0 0;
  background-color:transparent;
  border:none;
  opacity:1;
  color:#FFFAFA;
  outline:0 none !important; blr:expression(this.onFocus=this.blur());
}

.header button:hover {
  color:#D02090;
}
.container {
  position: absolute;
  left: 50%;
  top: 50%;
  width:800px;
  height:200px;
  padding: 0px;
  margin-left:-400px;
  margin-top:-100px;
  opacity:0.8;
  z-index:1;
  color:#FFFAFA;
}

.mottos {
  text-align:center;
  font-size: 6.5em;
  margin-bottom:30px;
  margin-top:-20px;
}

.container a {
  text-align:center;
  text-decoration: none;
  display:block;
  font-size: 80px;
  color:#FFFAFA;
  margin:0 0 20px 0;
}

.container img {
  height:110px;
  width:110px;
}

.container ul {
  text-align:center;
  padding: 0;
}

.container li {
  text-align:center;
  display:inline-block;
  position: relative;
  list-style: none;
  padding: 15px;
  text-decoration:none;
}

.container li a {
  font-size:28px;
}

footer {
  position:fixed;
  bottom:1%;
  left:45%;
  z-index:1000;
}

.bgcolor {

  background-color: #000000;
  background-attachment: fixed;

  position: absolute;
  top: 0px;
  bottom: 0;
  left: 0;
  right: 0;
  
  padding: 0;
  margin: 0;
  
  z-index:20;
  opacity:0.85;
}
.toast {
  opacity:1;
  padding: 0px;
  margin: auto;
  height:300px;
  width:300px;
  margin-left:-150px;
  margin-top:-150px;
  position:absolute;
  top:50%;
  left:50%;
  z-index:20;
}
.toast li {
  transition:color 0.5s;
  list-style:none;
  margin: 0px 0px 36px 0px;
}
.toast li a:hover {
  color:#D02090;
}

.toast li a {
  text-decoration:none;
  font-size:56px;
  color:#FFFAFA;
}


.about-us {
  background-attachment: fixed;
  position:absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0;
  margin: 0;
  background:url("image/bgUs2.jpg");
  background-repeat:no-repeat;
  width:100%;
  height:100%;
  text-align:center;
  font-size:80px;
}

.title {
  position:absolute;
  top:18%;
  left:50%;
  width:800px;
  margin-left:-400px;
}
.mainus {
  text-align:left;
  position:absolute;
  top:50%;
  left:50%;
  width:500px;
  margin-left:-250px;
  font-size:30px;
  color:#D02090;
}
.example-appear {
  opacity: 0.01;
}

.example-appear.example-appear-active {
  opacity: 1;
  transition: opacity 0s ease-in;
}
